*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 40px;
    --my-var: red;
}

h1{
    text-align: center;
    background-color: var(--my-var);
}

.box{
    --my-var: yellow;
    padding: 20px;
}

.box h2{
     margin-bottom: 20px;
    background-color: var(--my-var);
}

@media screen and (min-width: 800px) {
    .container{
        --my-var: pink;
    }
}